/*TODAS*/
.body {
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
}

/*HOME*/
.home {
  background-image: url("./media/landing-page.jpg");
  background-size: cover;
  width: auto;
  height: 900px;
}

.header {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 13%;
}

.title {
  color: #ff4945;
  margin: 0px;
  margin-bottom: 35px;
  padding: 0px;
  font-family: Mosk700;
  font-weight: 700;
  font-size: 120px;
}

.header p {
  font-size: 20px;
  margin: 10px;
  font-family: Mosk200;
  text-align: left;
}

.header a {
  text-decoration: none;
}

.button-cities {
  position: relative;
  display: inline-block;
  font-family: Mosk400;
  font-weight: 600;
  color: white;
  background-color: #008eff;
  border-radius: 30px;
  padding: 20px;
  margin-top: 40px;
  margin-left: -200px;
}

.button-cities:hover {
  background-color: #ff4945;
  
}

footer {
  font-size: 12px;
  position:fixed;
  left: 20px;
  bottom: 3px;
}

/*NAV*/

nav {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 130px;
  font-family: Mosk400;
}

nav ul {
  overflow: hidden;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #008eff;
}

.logo {
  font-size: 30px;
  font-weight: 800;
  float: left;
}

.menu {
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 20px;
  float: right;
}

nav a:hover {
  color: #ff4945;  
}

.nav-icons {
  height: 80px;
  font-weight: 100;
}

/*CITIES PAGE*/
.citiesPage-ul {
  list-style: none;
}

.cities h2, .account h2 {
  font-size: 40px;
}

.citiesList-div {
  width: 100%;
  text-align: center;
}

.cityList-element {
  text-align: center;
  align-content: center;
  position: relative;
  margin: 10px;
}

.citiesList-div input {
  font-size: 18px;
  width: 200px;
  height: 25px;;
}

.cityList-element:hover {
  opacity: 0.7;
  color: black;
}

.cityList-element h4 {
  font-size: 30px;
  text-align: center;
  left: 25%;
  top: 26%;
  color: white;
  position: absolute;
}

.citiesPage-ul li {
  display: inline-block;
  height: auto;
  width: auto;
  color: white;
}

.citiesPage-image {
  width: 350px;
  height: 250px;
  border-radius: 25px;
}

#inputSearchBar {
  padding: 5px;
  border-radius: 10px;
  border: 3px solid #008eff;
}

#inputSearchBar:hover {
  border: 3px solid #ff4945;
}

/*ITINERARY*/

.itinerariesPage-ul {
  list-style: none;
}

.itinerary-container {
  float: left;
  font-family: Helvetica;
  padding: 15px; 
  background-color: #008eff;
  width: 350px;
  border-radius: 30px;
  list-style: none;
  margin: 30px;
  padding-bottom: 30px;;
}

.itinerary-container h3 {
  font-family: Mosk700;
  font-size: 30px;
  color: white;
}

.itinerary-profile {
  width: 100px;
}

.itineraryImageDiv, .itineraryInformationDiv {
  padding: 10px;
  list-style: none;
  display: inline;
  float: left;
}

/*ACTIVITIES*/
.activity-container {
  display: inline-block;
  position: relative;
  text-align: center;
  float: right;
}

.activity-title {
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.activity-image {
  margin: 10px;;
  width: 300px;
  border-radius: 20px;;
}