body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Mosk700';
  src: local('Mosk'), url(./fonts/Mosk-Bold-700.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk200';
  src: local('Mosk'), url(./fonts/Mosk-Extra-Light-200.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk400';
  src: local('Mosk'), url(./fonts/Mosk-Normal-400.ttf) format('truetype');
}

